body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.button {
  background-color: #f6ffc1;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(222, 205, 0), rgba(255,0,0,0));
  border-radius: 30px;
}

.heading h1 {
  margin-left: 10px;
}

.top-nav {
  display: flex;
  justify-content: center;
}
